html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.element-container {
  border-radius: 5px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  margin: 5px;
  height: 80vh;
  padding: 24px;
}

.cdk-overlay-container.cdk-overlay-container-custom {
  z-index: 2000;
}

.parent {
  display: flex;
}

.center {
  width: 100%;
}

.control-container {
  padding: 10px;

  >span {
    padding: 0 10px;
  }
}

.left,
.right {
  width: 5%;
}

.full-width {
  width: 100%;
}

h4 {
  margin-block-end: 0;
}

.top-container {
  max-height: 150px;
}

.events {
  width: 100%;
  overflow-y: auto;

  ul {
    list-style-type: none
  }
}
