$md-adesa: (
  50: #e0f1f3,
  100: #b3dce0,
  200: #80c5cc,
  300: #4daeb7,
  400: #269ca7,
  500: #008b98,
  600: #008390,
  700: #007885,
  800: #006e7b,
  900: #005b6a,
  A100: #9ef,
  A200: #66e5ff,
  A400: #3df,
  A700: #1ad9ff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);
